{% extends "learning_logs/base.html" %} {% block content %}

<div class="row full-width">
    <div class="col-lg-12 center-column-edit">
        <div class="container mt-3">
            <h1 class="text-center">Właśnie edytujesz następujący temat:</br>
                <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a></h1>

            <p class="center-text">Edycja wpisu:</p>

            <form class="center-text" action="{% url 'learning_logs:edit_entry' entry.id %}" method='post'>
                {% csrf_token %} {{form.as_p}}
                <button class="btn btn-primary center-button" name='submit'>Zapisz wpis</button>
            </form>
        </div>
    </div>

</div>

{% endblock content%}