{% extends 'learning_logs/base.html' %}
{% load i18n %}

{% block header %}
  <div class="container">
    <h2 class="text-center mt-5">{{ topic }}</h2>
    <a href="{% url 'learning_logs:new_entry' topic.id %}">Dodaj nowy wpis</a>
  <div>
{% endblock header %}

{% block content %}
  <hr>
  {% for entry in entries %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>
          {% language 'pl' %}
            {{ entry.date_added|date:'d M Y, H:i' }}
          <small>
          {% endlanguage %}
          <p class="text-right">
            <a href="{% url 'learning_logs:edit_entry' entry.id %}">
              Edytuj wpis</a>
          </p>
          </small>
        </h3>
      </div>
      <div class="panel-body">
        {{ entry.text|linebreaks }}
      </div>
    </div> <!-- panel -->
  {% empty %}
    Nie ma wpisu dla tego tematu
  {% endfor %}

{% endblock content %}
